## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import requests
import gmaps

# Import API key
g_key= "AIzaSyC97lYiNAmv2St3ZvgygU1Hj4Z7s1xQL4I"

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.head()
# vacation_to_load = os.path.join("Vacation_Search", "WeatherPy_Vacation.csv")
# vacation_df = pd.read_csv(vacation_to_load)
# vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,Hotel FX 72
1,1,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
2,2,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,3,Puerto Ayora,EC,71.55,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,4,Atuona,PF,79.47,broken clouds,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
# info_box_template = """

# """
info_box_template = """<dl>
#<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>


"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
#                                        (city_data_df["Max Temp"] >= min_temp)]
vacation_start = vacation_df.loc[(vacation_df["City"]== "Saint George")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Saint George")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Golden")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Pampa")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Hays")]

vacation_start
# vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,8,Saint George,US,73.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]



#print(f'Start: {start}, End: {end}')

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[start, stop1, stop2, stop3, end],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Saint George,US,73.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
1,81,Golden,US,68.68,broken clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
2,104,Pampa,US,77.95,clear sky,35.5362,-100.9599,"Holiday Inn Express & Suites Pampa, an IHG Hotel"
3,107,Hays,US,73.92,broken clouds,30.0502,-98.0336,Sinya on Lone Man Creek
4,8,Saint George,US,73.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
#hotels_df = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure