## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
g_key= "AIzaSyC97lYiNAmv2St3ZvgygU1Hj4Z7s1xQL4I"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Okhotsk,RU,59.3833,143.3000,35.15,70,100,15.86,overcast clouds
1,1,Albany,US,42.6001,-73.9662,42.22,40,0,5.01,clear sky
2,2,Ruteng,ID,-8.6136,120.4721,76.42,51,77,1.45,broken clouds
3,3,Esperance,AU,-33.8667,121.9000,60.64,63,73,13.02,broken clouds
4,4,Srednekolymsk,RU,67.4500,153.6833,24.17,80,99,6.24,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Ruteng,ID,-8.6136,120.4721,76.42,51,77,1.45,broken clouds
5,5,Bambous Virieux,MU,-20.3428,57.7575,76.21,80,11,8.97,few clouds
6,6,Mahebourg,MU,-20.4081,57.7000,76.24,80,9,9.15,clear sky
13,13,Puerto Ayora,EC,-0.7393,-90.3518,71.55,92,4,6.22,clear sky
15,15,Atuona,PF,-9.8000,-139.0333,79.47,74,72,19.89,broken clouds
20,20,Cayenne,GF,4.9333,-52.3333,76.08,1,75,0.00,broken clouds
25,25,Augusto Correa,BR,-1.0217,-46.6350,73.47,98,94,2.82,overcast clouds
27,27,Koumac,NC,-20.5667,164.2833,75.49,77,100,10.13,overcast clouds
33,33,Saint George,US,37.1041,-113.5841,73.99,6,0,10.36,clear sky
37,37,Opuwo,NaN,-18.0607,13.8400,71.29,39,78,5.08,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                166
City                   166
Country                164
Lat                    166
Lng                    166
Max Temp               166
Humidity               166
Cloudiness             166
Wind Speed             166
Current Description    166
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [7]:
preferred_cities_df.count()

City_ID                164
City                   164
Country                164
Lat                    164
Lng                    164
Max Temp               164
Humidity               164
Cloudiness             164
Wind Speed             164
Current Description    164
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,
5,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,
6,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,
13,Puerto Ayora,EC,71.55,clear sky,-0.7393,-90.3518,
15,Atuona,PF,79.47,broken clouds,-9.8000,-139.0333,
20,Cayenne,GF,76.08,broken clouds,4.9333,-52.3333,
25,Augusto Correa,BR,73.47,overcast clouds,-1.0217,-46.6350,
27,Koumac,NC,75.49,overcast clouds,-20.5667,164.2833,
33,Saint George,US,73.99,clear sky,37.1041,-113.5841,
39,Kapaa,US,77.47,broken clouds,22.0752,-159.3190,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# 6c. Get latitude and longitude from DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,Hotel FX 72
5,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
6,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Puerto Ayora,EC,71.55,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Atuona,PF,79.47,broken clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
556,Jalu,LY,76.93,clear sky,29.0331,21.5482,صاحبة الفخامة
560,Micheweni,TZ,77.56,light rain,-4.9667,39.8333,
563,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,Résidence ARCHANGE
566,Tukrah,LY,67.80,overcast clouds,32.5341,20.5791,Lagrota restaurant
568,Ndele,CF,72.14,overcast clouds,8.4109,20.6473,

In [11]:
# 7. Drop the rows where there is no Hotel Name.
#clean_hotel = hotel_df.dropna()
clean_hotel=hotel_df.loc[hotel_df["Hotel Name"]!=""]

In [14]:
clean_hotel=clean_hotel.reset_index(drop=True)
clean_hotel

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,Hotel FX 72
1,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
2,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Puerto Ayora,EC,71.55,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Atuona,PF,79.47,broken clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
146,Mount Gambier,AU,67.91,light rain,-37.8333,140.7667,The Commodore
147,Owando,CG,69.73,overcast clouds,-0.4819,15.8999,Exaunel Hotel Owando
148,Jalu,LY,76.93,clear sky,29.0331,21.5482,صاحبة الفخامة
149,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,Résidence ARCHANGE
150,Tukrah,LY,67.80,overcast clouds,32.5341,20.5791,Lagrota restaurant

In [15]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_Vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>


"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)

In [18]:
jupyter nbextension enable --py --sys-prefix widgetsnbextension

jupyter nbextension enable --py --sys-prefix gmaps

SyntaxError: invalid syntax (Temp/ipykernel_34616/681012657.py, line 1)

In [19]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))