## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
g_key= "AIzaSyC97lYiNAmv2St3ZvgygU1Hj4Z7s1xQL4I"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Okhotsk,RU,59.3833,143.3000,35.15,70,100,15.86,overcast clouds
1,1,Albany,US,42.6001,-73.9662,42.22,40,0,5.01,clear sky
2,2,Ruteng,ID,-8.6136,120.4721,76.42,51,77,1.45,broken clouds
3,3,Esperance,AU,-33.8667,121.9000,60.64,63,73,13.02,broken clouds
4,4,Srednekolymsk,RU,67.4500,153.6833,24.17,80,99,6.24,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Ruteng,ID,-8.6136,120.4721,76.42,51,77,1.45,broken clouds
3,3,Esperance,AU,-33.8667,121.9000,60.64,63,73,13.02,broken clouds
5,5,Bambous Virieux,MU,-20.3428,57.7575,76.21,80,11,8.97,few clouds
6,6,Mahebourg,MU,-20.4081,57.7000,76.24,80,9,9.15,clear sky
8,8,Artyom,AZ,40.4723,50.3330,60.94,72,1,5.75,clear sky
9,9,Te Anau,NZ,-45.4167,167.7167,60.48,61,100,1.83,overcast clouds
10,10,Sabang,ID,5.8933,95.3214,84.31,71,99,9.37,overcast clouds
12,12,Vaini,TO,-21.2000,-175.2000,80.76,65,75,12.66,broken clouds
13,13,Puerto Ayora,EC,-0.7393,-90.3518,71.55,92,4,6.22,clear sky
15,15,Atuona,PF,-9.8000,-139.0333,79.47,74,72,19.89,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                279
City                   279
Country                275
Lat                    279
Lng                    279
Max Temp               279
Humidity               279
Cloudiness             279
Wind Speed             279
Current Description    279
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
preferred_cities_df.count()

City_ID                275
City                   275
Country                275
Lat                    275
Lng                    275
Max Temp               275
Humidity               275
Cloudiness             275
Wind Speed             275
Current Description    275
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,
3,Esperance,AU,60.64,broken clouds,-33.8667,121.9000,
5,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,
6,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,
8,Artyom,AZ,60.94,clear sky,40.4723,50.3330,
9,Te Anau,NZ,60.48,overcast clouds,-45.4167,167.7167,
10,Sabang,ID,84.31,overcast clouds,5.8933,95.3214,
12,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
13,Puerto Ayora,EC,71.55,clear sky,-0.7393,-90.3518,
15,Atuona,PF,79.47,broken clouds,-9.8000,-139.0333,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# 6c. Get latitude and longitude from DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,Hotel FX 72
3,Esperance,AU,60.64,broken clouds,-33.8667,121.9000,Hospitality Esperance
5,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
6,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Artyom,AZ,60.94,clear sky,40.4723,50.3330,Pir hos
...,...,...,...,...,...,...,...
562,Camiri,BO,64.24,overcast clouds,-20.0500,-63.5167,J R Hotel
563,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,Résidence ARCHANGE
566,Tukrah,LY,67.80,overcast clouds,32.5341,20.5791,Lagrota restaurant
568,Ndele,CF,72.14,overcast clouds,8.4109,20.6473,
569,Mizan Teferi,ET,60.33,overcast clouds,6.9833,35.5833,Hotel Salayish - ሳላይሽ ሆቴል

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel = hotel_df.dropna()

In [31]:
clean_hotel

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ruteng,ID,76.42,broken clouds,-8.6136,120.4721,Hotel FX 72
3,Esperance,AU,60.64,broken clouds,-33.8667,121.9000,Hospitality Esperance
5,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
6,Mahebourg,MU,76.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Artyom,AZ,60.94,clear sky,40.4723,50.3330,Pir hos
...,...,...,...,...,...,...,...
562,Camiri,BO,64.24,overcast clouds,-20.0500,-63.5167,J R Hotel
563,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,Résidence ARCHANGE
566,Tukrah,LY,67.80,overcast clouds,32.5341,20.5791,Lagrota restaurant
568,Ndele,CF,72.14,overcast clouds,8.4109,20.6473,
569,Mizan Teferi,ET,60.33,overcast clouds,6.9833,35.5833,Hotel Salayish - ሳላይሽ ሆቴል

In [33]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel.to_csv(output_data_file, index_label="City_ID")

FileNotFoundError: [Errno 2] No such file or directory: 'Vacation_Search/WeatherPy_Vacation.csv'

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure